.article{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
  
  .article img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .article h2, .article h3{
    margin: 0;
    text-align: left;
  }
  
  .article h3{
    color: white;
  }
  
  #arredondo{
    height: 250px;
  }

@media screen and (max-width: 775px) {  
    .article {
      width: 300px;
      margin-top: 20px;
    }
    .maincontent{
      width: 300px;
    }
  }

@media screen and (min-width: 775px) {
    .article{
        display: inline-block;
        width: 300px;
        height: 366px;
        margin: 10px 5px 10px 5px;
    }

    

}