#supercenter {
    display:flex;
    justify-content:center;
    margin-top: 0;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("https://saysiunion.org/images/unionwithtericastillo.webp"); /* Darkens image for legibility */
    height: 80%;
    background-position: 70% 60%;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

@media screen and (max-width: 735px) {
    #action{
      width:95%;
    }
}
  
@media screen and (min-width: 735px) {
    #action{
      width:80%;
      max-width:600px;
    }
}