body, html {
      background-color: #231F20;
      font-family: 'Barlow', sans-serif;
      height:100%;
      margin:0;
}

h1, b, h2 {
      color: #60CFC7;
}

p {
      color: #FFFFFF;
      font-size: 20px;
}

li {
    color: #FFFFFF;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #60CFC7;
}

.maincontent {
    margin: 43px auto 0 auto;
    width: 82%; 
    max-width: 1400px;
    min-width: 320px;
    text-align: justify;
    line-height:1.4;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #101010;
    z-index: 10000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li, nav p {
    flex: 1;
    text-align: center;
    font-size: 16px;
}

nav a, nav p {
    display: block;
    padding: 12px 0px;
    color: white;
    transition: 0.3s;
    margin: 0;
}


nav a:hover, nav p:hover, .dropdown-content a:hover{
    background-color: #60CFC7;
}

.dropdown:hover .dropbtn {
  background-color: #427774;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #101010;
  z-index: 1;
  width: 33%;
  text-align:center;
}

.dropdown-content a {
  color: #FFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  background-color: #101010;
  padding: 20px 0;
  margin-top: 30px;
  text-align: center;
  width:100%;
}

.footer a{
  text-decoration: none;
  color: #60CFC7;
}

.column {
  width: 360px;
  background-color: #111010;
  padding: 0 15%;
}